# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.user

*.Release
*.Debug
*.log
src/bin_qt5.9.9_debug/saDataProcDebug.csv
src/sa.pro.user
src/sa.pro.user.*
